# Python cache files
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# Virtual environments
venv/
env/
.venv/
.venv/

# PyCharm-specific files and folders
.idea/
*.iml
*.iws
*.ipr

# OS-specific files
.DS_Store
Thumbs.db

# Streamlit-specific files
.streamlit/
*.log
